<div class='chat-item_wrapper chat-item_wrapper_unread '>
    <div class='chat-item_inner-wrapper {{selected}}'>
        <div class='chat-item-avatar-wrapper'>
            {{#if avatarUrl}}
                <img src='{{avatarUrl}}' alt='avatar' height='47' width='47' />
            {{/if}}
        </div>
        <div class='chat-item-message-data-wrapper'>
            <div class='chat-item-message-data'>
                <p class='chat-item-chat-name font_13_600'>{{chatName}}</p>
                <p class='chat-item-last-message-time font_12'>{{lastMessageTime}}</p>
            </div>
            <div class='chat-item-message-text-wrapper'>
                <div class='chat-item-message-text'>
                    {{#if isLastMessageOutgoing}}
                        <p class='chat-item-prefix font_12'>Вы: </p>
                    {{/if}}
                    <p class='chat-item-message-text font_12'>{{lastMessage}}</p>
                </div>
                {{#if unreadMessages}}
                    <div class='chat-item-unread-messages font_12'>{{unreadMessages}}</div>
                {{/if}}
            </div>
        </div>
    </div>
</div>
