<div class='chat-page_wrapper'>
    <div class='chat-page_chat-list'>
        <div class='chat-list_search-block'>
            <div class='search-block_profile-link-wrapper'>
                {{{Link
                    href=''
                    linkText='Профиль'
                    onClick=renderUserProfile
                    class='profile-link_link font_12'
                }}}
                <img src='{{linkChevron}}' alt='chevron' height='10' width='6' />
            </div>
            {{{SearchInput value='' placeholder='Поиск' }}}
        </div>
        <div class='chat-list_wrapper'>
            {{#each data.chatList }}
                {{{ChatItem
                     chatName=this.chatName
                     selected=this.selected
                     avatarUrl=this.avatarUrl
                     lastMessage=this.lastMessage
                     unreadMessages=this.unreadMessages
                     lastMessageTime=this.lastMessageTime
                     isLastMessageOutgoing=this.isLastMessageOutgoing
                }}}
            {{/each}}
        </div>
    </div>
    <div class='chat-page_chat'>
        <div class='chat-page_header'>
            <div class='chat-name_wrapper'>
                {{{Avatar }}}
                {{{Paragraph text='Вадим' class='chat-name' }}}
            </div>
            {{{AddUserButton onClick=showAddPopup }}}
        </div>
        {{#Wrapper ref='addPopupWrapper' class='chat_add-chat-popup-wrapper' onClick=hideAddPopup}}
            {{#Popup class='chat-page_add-chat-popup'}}
                {{{MenuItem
                        buttonText=addChatPopupData.addUser.buttonText
                        altText=addChatPopupData.addUser.altText
                        onClick=addUserPopup
                        imageSrc=addChatPopupData.addUser.imageSrc
                }}}
                {{{MenuItem
                        buttonText=addChatPopupData.deleteUser.buttonText
                        altText=addChatPopupData.deleteUser.altText
                        onClick=deleteUserPopup
                        imageSrc=addChatPopupData.deleteUser.imageSrc
                }}}
            {{/Popup}}
        {{/Wrapper}}
        {{#Wrapper ref='addUserPopupWrapper' class='chat_add-user-popup-wrapper' onClick=hideAddUserPopup}}
            {{{UserOperationPopup data=addUserPopupData.addUser onSubmit=addNewUser}}}
        {{/Wrapper}}
        {{#Wrapper ref='deleteUserUserPopupWrapper' class='chat_add-user-popup-wrapper' onClick=hideDeleteUserPopup}}
            {{{UserOperationPopup data=addUserPopupData.deleteUser onSubmit=deleteUser}}}
        {{/Wrapper}}
        <div class='chat-page_message-list'>
            <div class='message-list_date font_12'>19 июня</div>
            {{{InMessageItem messageText=data.longMessage sendTime='11:56' }}}
            {{{InMessageItem
                imageUrl=messageImage
                sendTime='11:56'
                class='message_image-message'
            }}}
            {{{OutMessageItem messageText='Круто!' sendTime='12:00' class='' }}}
        </div>
        <div class='chat-page_new-message'>
            {{#NewMessageBlock }}
                {{{AddFileButton }}}
                {{{NewMessageInput value='' placeholder='Сообщение' }}}
                {{{SendButton }}}
            {{/NewMessageBlock }}
        </div>
    </div>
</div>
