{{#if isShowButton}}
    <div class='block-wrapper block-wrapper_link {{class}}'>
        <button class='block_link link font_13'>{{header}}</button>
    </div>
{{else}}
    <div class='block-wrapper {{class}}'>
        {{#unless isShowButton}}
            <label for='{{id}}' class='block_header font_13'>{{header}}</label>
        {{/unless}}
        {{#if disabled}}
            <input
                    disabled
                    id='{{id}}'
                    type='{{type}}'
                    name='{{name}}'
                    value='{{value}}'
                    placeholder='{{placeholder}}'
                    class='block_input block_input_no-background font_13'
            />
        {{/if}}
        {{#unless disabled}}
            <input
                    id='{{id}}'
                    type='{{type}}'
                    name='{{name}}'
                    value='{{value}}'
                    placeholder='{{placeholder}}'
                    class='block_input font_13'
            />
        {{/unless}}
    </div>
{{/if}}
